<div class="popup-info popup-about">
  <h2>The Golden Record</h2>

  <p>The Voyager Program, sponsored by the National Aeronautics and Space Administration (NASA), represents the first ambitious exploration of the solar system, the outer boundaries of the heliosphere, and interstellar space. Launched in 1977, the Voyager spacecrafts – two robotic probes – continue to collect images and other data about Jupiter, Uranus, Neptune, and their moons. Perhaps most interesting, each spacecraft carries a golden record that holds music by Mozart, Bach, and Beethoven, songs in Senegalese, tunes by Chuck Berry, sounds of nature, and welcome messages in fifty-five languages. Intended for life in distance places, the golden record signifies a human effort to communicate, share, and connect through sound.</p>

  <p>The Golden Record is an in-browser mixer inspired by the Voyager Program. This site gives users an opportunity to encounter new musical worlds by playing, mixing, and manipulating a variety of tracks, which range from singing elephants to jazz guitar. The Golden Record encourages play and discovery: it exposes new listeners to unfamiliar music and sonic ideas, changing perceptions of the vast universe around us.</p>

  <button type="button" class="close">Close</button>
</div>

