<div class="popup-info popup-credits">
  <h2 class="f-header mb-lg">Credits</h2>
  <h3 class="mb-lg">We express gratitude to the following groups and individuals:</h3>
  <p class="p-none"><em>Dev Bootcamp</em></p>
  <p class="p-none">Matthew Baker</p>
  <p class="p-none">Mike Busch</p>
  <p class="p-none">Casey Cumbow</p>
  <p class="p-none">Alyssa Diaz</p>
  <p class="p-none">Maurice Rabb</p>
  <p></p>
  <p class="p-none"><em>The Noun Project</em></p>
  <p class="p-none">Dima Lagunov (designer of Rocket)</p>
  <p class="p-none">icon 54 (designer of Astronaut)</p>
  <p class="p-none">Creative Stall (designer of Satellite)</p>
  <button type="button" class="close f-header">close</button>
</div>