<div class="popup-info popup-login">

<h2 class="f-header">Login for Administrators</h2>


<%= form_tag '/login' do %>

  <p class="p-none fz-l m-none">Name:</p>
  <%= text_field_tag :name %>
  <p class="p-none fz-l m-none">Password:</p>
  <%= password_field_tag :password %>
  </br>
  <%= submit_tag "login", class: "btn btn-primary mt-m f-header fz-l bgc-sea" %>

<% end %>

<button type="button" class="close f-header">close</button>

</div>