<div class="popup-info popup-meet">
  <h2 class="f-header">Meet the Team</h2>
  <p>Comprised of an amateur musician, sound engineer, musicologist, and music connoisseur, The Golden Record crew includes: Hana Worku (team leader), Marcus A. Davis, Regina Compton, and George Wambold. Our love for music unifies this project, and our ever growing appreciation of technology determines its shape.</p>
  <p>The Golden Record signifies the culmination of our eighteen-week exploration of coding at <a href="http://devbootcamp.com/">Dev Bootcamp</a>, an immersive web development program that prepares students for careers as engineers of software and ideas. We spent long days at Devbootcamp, where we learned about dynamic coding languages, grew frighteningly close, and began to imagine once impossible futures. Much like the objet that it references, The Golden Record is one leg of a longer adventure into the unknown.</p>
  <button type="button" class="close f-header">close</button>
</div>
