<div class="popup-info popup-start">
  <h2 class="f-header">Get Started</h2>
  <h4 class="f-header">First</h4>
  <p>Click on a category name in the sidebar. Click on a track, and drop it onto a hexagon. To play: click on the hexagon. To stop: click on the hexagon again. To pause: press the space bar.</p>
  <h4 class="f-header">Then</h4>
  <p>Want to alter the sounds? Hover over a select hexagon, and press enter. A control panel, equip with dials, appears! Touch the dials to adjust the volume, tempo, echo effect, and panning.</p>
  <h4 class="f-header">Also</h4>
  <p>To remove a track, click on the text, and drag it off the hexagon.</p>
  <button type="button" class="close">close</button>
</div>
