<div class="container">
  <div class="sidebar fl-l debug">Some words</div>
  <div class="mix debug fl-l">
    <div class="track-divs debug">
      <div class="row">
        <div id="1" class="cell border debug">1</div>
        <div id="2" class="cell border debug">2</div>
      </div>
      <div class="row">
        <div id="3" class="cell border debug">3</div>
        <div id="4" class="cell border debug">4</div>
      </div>
      <div class="row">
        <div id="5" class="cell border debug">5</div>
        <div id="6" class="cell border debug">6</div>
      </div>
    </div>
    <div class="controller"></div>
  </div>
</div>
