<div class="container">
  <div class="sidebar fl-l debug">Some words</div>
  <div class="mix debug fl-l">
    <div class="track-divs debug">
      <div class="row">
        <div id="1" class="cell border debug on-deck">1</div>
        <div id="2" class="cell border debug" >2</div>
      </div>
      <div class="row">
        <div id="3" class="cell border debug">3</div>
        <div id="4" class="cell border debug">4</div>
      </div>
      <div class="row">
        <div id="5" class="cell border debug">5</div>
        <div id="6" class="cell border debug">6</div>
      </div>
    </div>
    <div class="controller">
      Control Panel
        <p> Volume </p>
        <div id = "volume-slider" style="width:260px; margin:15px;" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all">
          <div id= "volume-level" class="ui-slider-range ui-widget-header ui-corner-all ui-slider-range-min" style="width: 60%;"></div>
          <span id = "volume-button"class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0" style="left: 60%;"></span>
        </div>
       </div>
    </div>
  </div>
</div>
