.debug {
  border: 1px dashed blue;
}

.cell {
  text-align: center;
}

.collapsible {
  width: 1em;
  background-color: red;
  height: 50em;
}

.active {
  background-color: green;
}

.paused {
    background-color: rgba(252,150,99, .7)
}


.on-deck {
  background-color: rgba(200,150,99, .1)
}

li {
  list-style: none;
}

a.boxclose{
    color: #fff;
    border: 1px solid red;
    background: red;
    font-size: 1em;
    font-weight: bold;
    display: inline-block;
    line-height: 0;
    padding: 1em .8em 1em .8em;
    text-decoration: none;
}

.boxclose:before {
    content: "×";
}

.popup-info {
  display: none;
  background: gray;
  padding: 5em;
  border: 1px solid #1852fd;
  float: left;
  position: fixed;
  top: 50%;
  left: 50%;
  margin: auto 0;
  z-index: 99999;
  box-shadow: 0px 0px 4px #1852fd;
  -moz-box-shadow: 0px 0px 4px #1852fd;
  -webkit-box-shadow: 0px 0px 4px #1852fd;
  border-radius: 1em;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
}

#mask {
  display: none;
  background: #000;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 88888;
  width: 100%;
  opacity: 0.5;
}


/*Atomic styles*/
.clear { clear: both; }
.fl-l { float: left; }


