.debug {
  border: 1px dashed blue;
}

.cell {
  text-align: center;
}

.active {
  background-color: green;
}

.paused {
    background-color: rgba(252,150,99, .7)
}


.on-deck {
  background-color: rgba(200,150,99, .1)
}

li {
  list-style: none;
}

a.boxclose{
    color: #fff;
    border: 1px solid red;
    background: red;
    font-size: 1em;
    font-weight: bold;
    display: inline-block;
    line-height: 0;
    padding: 1em .8em 1em .8em;
    text-decoration: none;
}

.boxclose:before {
    content: "×";
}

.popup-info {
  display: none;
  background: #FFBB0A;
  padding: 3em;
  border: 1px solid #422F00;
  float: left;
  position: fixed;
  top: 25%;
  left: 25%;
  right: 25%;
  bottom: 25%;
  margin: auto 0;
  z-index: 88888;
  box-shadow: 0px 0px 35px #422F00;
  -moz-box-shadow: 0px 0px 35px #422F00;
  -webkit-box-shadow: 0px 0px 35px #422F00;
  border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
}

#mask {
  /*display: none;*/
  background-color: #686868;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 77777;
  width: 100%;
  opacity: 0.5;
  height: 100vh;
}
/*
.launch {
  background-image: asset-data-url("stars.jpg");
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  z-index: 99999;
}
*/

/*Atomic styles*/
.clear { clear: both; }
.fl-l { float: left; }
.cur { cursor: pointer; }
.p-std { padding: 1em; }
.pr-m { padding-right: 2.5em; }
