<div class="top border">
  <script>
    //

  </script>
</div>
<div class="bottom border">
  <div class="row">
    <div id="1" class="cell border">1</div>
    <div id="2" class="cell border">2</div>
  </div>
  <div class="row">
    <div id="3" class="cell border">3</div>
    <div id="4" class="cell border">4</div>
  </div>
  <div class="row">
    <div id="5" class="cell border">5</div>
    <div id="6" class="cell border">6</div>
  </div>
</div>

